<h2>
    Quienes somos
</h2>
<p>Somos una comunidad que le gusta compartir conocimientos</p>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de inserción de imagen</title>
</head>
<body>
    <h1>CONEIMERA</h1>
    <img src="/images.png" alt="coneimera">
</body>
<style>
    h1{
        color:blue
    }
</style>